<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- |DataDirectory| apunta a la carpeta del ejecutable, donde se copia TaskDB.mdf al compilar. -->
    <add name="TaskDB"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TaskDB.mdf;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
